<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Sistema de Pedidos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li id="navLink1" routerLink="form-create-producto" class="nav-item">
        <a class="nav-link ">Crear Producto</a>
      </li>
      <li id="navLink2" routerLink="form-create-pedido" class="nav-item">
        <a class="nav-link">Crear Pedido</a>
      </li>
      <li id="navLink3" routerLink="lista-de-pedidos" class="nav-item">
        <a class="nav-link">Ver pedidos</a>
    </ul>
  </div>
</nav>
<br />