<div  class="container">
    <div class="row">
      <div class="col-sm">
        {{producto.id}}
      </div>
      <div class="col-sm">
        {{producto.codigo}}
      </div>
      <div class="col-sm">
        {{producto.nombre}}
      </div>
      <div class="col-sm">
        {{producto.precio}}
      </div>
      <div class="col-sm or">
        <!-- <button id="{{producto.id}}" (click)="Incrementar()">+</button>
        <h6>{{cantidad}}</h6>
        <button id="{{producto.id}}{{producto.id}}{{producto.id}}" (click)="Decrementar()">-</button> -->
        <input value="0" type="number" (change)="emitiendoDetalle()" [(ngModel)]="cantidad" >
      </div>

    </div>
   
  </div>