<br />
<div class="container">
    <div class="row">
        <div class="col-sm">
            Id de Producto
        </div>
        <div class="col-sm">
            Codigo
        </div>
        <div class="col-sm">
            Nombre
        </div>
        <div class="col-sm">
            Precio
        </div>
        <div class="col-sm">
            Escoja la cantidad
        </div>
    </div>
    <!-- (Quantity)="mostrarDato($event)" (Detalle)="verProducto($event)" -->
    <div *ngFor="let producto of productos">
        <br>
        <app-producto-item [producto]="producto" (Detalle)="recibiendoDetalle($event)" ></app-producto-item>
    </div>
    <span></span>
</div>
<!-- Button trigger modal -->
<button id="btnCrearPedidoModal" type="button" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    Crear Pedido
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos personales</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="IdentificacionInput" class="form-label">Identificacion</label>
                        <input placeholder="Ingrese numero de identificacion" type="text" class="form-control"
                            id="IdentificacionInput" [(ngModel)]="identificacion" name="identificacion">
                    </div>
                    <div class="mb-3">
                        <label for="NombreClienteInput" class="form-label">Nombre</label>
                        <input placeholder="Ingrese nombre" type="text" class="form-control" id="NombreClienteInput"
                            [(ngModel)]="nombre" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="DireccionInput" class="form-label">Direccion</label>
                        <input placeholder="Ingrese direccion" type="text" class="form-control" id="DireccionInput"
                            [(ngModel)]="direccion" name="direccion">
                    </div>
                    <div class="mb-3">
                        <label for="TelefonoInput" class="form-label">Telefono</label>
                        <input placeholder="Ingrese numero de telefono" type="text" class="form-control"
                            id="TelefonoInput" [(ngModel)]="telefono" name="telefono">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button (click)="CrearPedido()" type="button" class="btn btn-primary">Crear Pedido</button>
            </div>
        </div>
    </div>
</div>